* {
  box-sizing: border-box;
}

/* postcss-normalize is installed on project creation */
/* see https://create-react-app.dev/docs/adding-css-reset/ */
@import-normalize; /* bring in normalize.css styles */
/* @import 'normalize.css'; */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(75, 143, 189, 0.589);
  color: #333;
}

/****************************************
 * * APP
 *****************************************/

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: min(80%, 1000px);
  margin: 0 auto;
}

.main-heading {
  text-align: center;
  color: rgb(0, 140, 255);
}

footer {
  padding: 4em;
  text-align: center;
}

.main {
  flex: 1;
}

.main > p {
  margin-bottom: 2rem;
  text-align: center;
}

/* arrange books in order */
.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  border: 1rem solid red;
}
/* give border to the detail of each book */
.book-details {
  width: 300px;
}
/* color for title */
.book-important {
  color: blue;
}
/* book separated by space */
.book {
  margin: 1rem;
}
/* picture dimensions */
.photo {
  height: 250px;
  width: 200px;
}
