* {
  box-sizing: border-box;
}

/* postcss-normalize is installed on project creation */
/* see https://create-react-app.dev/docs/adding-css-reset/ */
@import-normalize; /* bring in normalize.css styles */
/* @import 'normalize.css'; */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(92, 92, 92, 0.589);
  color: #333;
}

/****************************************
 * * APP
 *****************************************/

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: min(80%, 1000px);
  margin: 0 auto;
}

.main-heading {
  text-align: center;
}


footer {
  padding: 4em;
  text-align: center;
}

.main {
  flex: 1;
}

.main > p {
  margin-bottom: 2rem;
  text-align: center;
}

.book {
  size:2
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.7);
}

.book {
  margin: 1rem;
}
